/* Front-end Style Guide
## Layout
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px
## Colors
### Primary
- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)
### Neutral
- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)
## Typography
### Body Copy
- Font size (paragraph): 16px
### Font
- Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
- Weights: 500, 700, 900*/
:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 95%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--very-pale-blue);
  background-image: url("/images/pattern-background-desktop.svg");
  background-position: top;
  background-repeat: no-repeat;
  color: red;
  text-align: center;
}

.container {
  display: grid;
}

.component-container {
  margin: 0 auto;
  margin-top: 10%;
  background: white;
  width: 450px;
  border-radius: 20px;
}

.main-component-image {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

/* .hero-image{
  background-image: url("/images/illustration-hero.svg");
} */
